<div class="input-group">
    <mat-form-field class="full-width">
        <mat-label>Seleccione el Estudiante</mat-label>
        <input type="text"
               placeholder="Escriba su identificacion, nombre o apellidos"
               aria-label="Number"
               matInput
               [formControl]="estudianteControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            @for (estudiante of filteredEstudiantes | async; track estudiante) {
              <mat-option [value]="estudiante" (onSelectionChange)="onSelectEstudiante(estudiante)">{{estudiante.identificacion}} {{estudiante.nombres}} {{estudiante.apellidos}}</mat-option>
            }
        </mat-autocomplete>
        @if(estudiante.id && !isInputSearchDisabled){
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearEstudiante()">
                <mat-icon>close</mat-icon>
            </button>
        }
    </mat-form-field>
    <button mat-icon-button type="button" (click)="newEstudiante()" class="add-button" [disabled]="estudiante.id">
        <mat-icon>add</mat-icon>
    </button>
</div>

