@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;
@use 'app-theme';

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$config: (
  color: (
    theme-type: 'light',
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
);

$theme: mat.private-deep-merge-all(
  mat.define-theme($config),
  mtx.define-theme($config)
);

html {
  @include mat.all-component-themes($theme);
  @include mtx.all-component-themes($theme);
  @include app-theme.theme($theme);

  @include mat.color-variants-backwards-compatibility($theme);
  @include mtx.color-variants-backwards-compatibility($theme);
}
