<mat-card>
    <mat-card-content>
        <form class="form-field-full" [formGroup]="estudianteForm" (ngSubmit)="submit()">

            <div class="row">
                <!--columna 1-->
                 <!--<div class="col-sm-6">-->
                    <mat-form-field>
                        <mat-label>Identificacion</mat-label>
                        <input matInput formControlName="identificacion">
                     </mat-form-field>

                    <mat-form-field>
                      <mat-label>Apellidos</mat-label>
                      <input matInput formControlName="apellidos">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Nombres</mat-label>
                      <input matInput formControlName="nombres">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sexo" required>
                          @for (sexo of sexos; track sexo) {
                            <mat-option [value]="sexo">{{sexo}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
                        <mat-hint>YYYY-MM-DD</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                <!--</div>-->

                <!--columna 2-->
                <!--<div class="col-sm-6">-->
                    <mat-form-field class="full-width">
                      <mat-label>Seleccione la Nacionalidad</mat-label>
                      <input type="text"
                             placeholder="Escriba el nombre del país"
                             aria-label="Number"
                             matInput
                             formControlName="pais_nacionalidad"
                             [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        @for (paisNacionalidad of filteredPaisNacionalidades | async; track paisNacionalidad) {
                          <mat-option [value]="paisNacionalidad">{{paisNacionalidad.nombre_comun}} / {{paisNacionalidad.nacionalidad}}</mat-option>
                        }
                      </mat-autocomplete>
                      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelectPaisNacionalidad()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Seleccione la Talla del Uniforme</mat-label>
                      <mat-select formControlName="uniforme_talla" [compareWith]="compareObjects">
                        @for (uniformeTalla of uniformeTallas$ | async; track uniformeTalla) {
                          <mat-option [value]="uniformeTalla">{{uniformeTalla.descripcion}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Teléfono</mat-label>
                      <input matInput formControlName="telefono">
                      <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Direccion</mat-label>
                        <textarea matInput placeholder="Escriba la direccion o residencia" formControlName="direccion"></textarea>
                     </mat-form-field>

                    <mat-form-field>
                        <mat-label>Enter your email</mat-label>
                        <input matInput
                               autocomplete="not-complete"
                               placeholder="pat@example.com"
                               formControlName="correo">
                    </mat-form-field>
                    <mat-slide-toggle formControlName="tiene_discapacidad">Presenta alguna Discapacidad</mat-slide-toggle>
                <!--</div>-->
            </div>
            <div class="d-flex justify-content-end">
                <button mat-raised-button color="primary" [disabled]="!estudianteForm.valid">Guardar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>


