@for(estudianteRepresentante of estudianteRepresentantes; track estudianteRepresentante ){
    <app-estudiante-representante-show
        [estudianteRepresentante]="estudianteRepresentante"
        (estudianteRepresentanteDeleteEvent)="removeEstudianteRepresentante($event)">
    </app-estudiante-representante-show>
}

<p></p>

<mat-accordion class="example-headers-align" multi="false">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Agregar Representante </mat-panel-title>
            <mat-panel-description>
                Aga click para expanir o contrae
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-estudiante-representante-new
            [estudianteRepresentante] = "estudianteRepresentante"
            (newEstudianteRepresentanteEvent)="addEstudianteRepresentante($event)">
        </app-estudiante-representante-new>
    </mat-expansion-panel>
</mat-accordion>
