@for(estudianteRepresentante of estudianteRepresentantes; track estudianteRepresentante ){
    <app-estudiante-representante-show
        [estudianteRepresentante]="estudianteRepresentante"
        (estudianteRepresentanteDeleteEvent)="removeEstudianteRepresentante($event)">
    </app-estudiante-representante-show>
}

<p></p>

<app-estudiante-representante-new
    [estudianteRepresentante] = "estudianteRepresentante"
    (newEstudianteRepresentanteEvent)="addEstudianteRepresentante($event)">
</app-estudiante-representante-new>

