<mat-card class="whit-icon-edit-card">
  <button mat-icon-button aria-label="Editar" class="edit-button" (click)="editMatricula()">
    <mat-icon>edit</mat-icon>
  </button>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-6">
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>{{matricula.fecha_inscripcion}}</span>
            <span matListItemLine>Fecha de Incscripción</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>{{matricula.periodo_lectivo.descripcion}}</span>
            <span matListItemLine>Periodo Lectivo</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>{{matricula.modalidad.descripcion}}</span>
            <span matListItemLine>Modalidad</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>{{matricula.jornada.descripcion}}</span>
            <span matListItemLine>Jornada</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>{{matricula.grado_escolar.descripcion}}</span>
            <span matListItemLine>Grado Escolar</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>{{matricula.paralelo.descripcion}}</span>
            <span matListItemLine>Paralelo</span>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-sm-6">
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>{{matricula.estado_matricula.descripcion}}</span>
            <span matListItemLine>Estado actual de la matricula</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>{{matricula.fecha_cambio_estado}}</span>
            <span matListItemLine>Fecha Cambio de Estado</span>
          </mat-list-item>
          <mat-list-item>
            @if(matricula.inscrito_sistema_publico){
              <span matListItemTitle>SI</span>
            } @else {
              <span matListItemTitle>NO</span>
            }
            <span matListItemLine>Inscrito en el CAS</span>
          </mat-list-item>
          <mat-list-item>
            @if(matricula.legalizada){
              <span matListItemTitle>SI</span>
            } @else {
              <span matListItemTitle>NO</span>
            }
            <span matListItemLine>La matricula está legalizada</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>{{matricula.fecha_legalizacion}}</span>
            <span matListItemLine>Fecha de Legalización de la matricula</span>
          </mat-list-item>
          <mat-list-item>
            @if(matricula.observacion){
              <span matListItemTitle>{{matricula.observacion}}</span>
            } @else {
              <span matListItemTitle>NINGUNA</span>
            }
            <span matListItemLine>Observacion</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>
